<!DOCTYPE html>
<html lang="en">
<%= erb :'/partials/_head' %>
<body>
<%= erb :'/partials/_navbar' %>
 <form action='/squads' method='post' >
  <div class="form-group">
    <label for="squadName">Squad Name</label>
    <input type="text" class="form-control" id="squadName" name ="name" placeholder="Squad_1" autofocus>
  </div>
  <div class="form-group">
    <label for="mascot">Mascot</label>
    <input type="text" class="form-control" id="mascot" name = "mascot" placeholder="Wolverine" autofocus>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
<%= erb :'/partials/_foot' %>
</html>