<!DOCTYPE html>
<html lang="en">
<%= erb :'/partials/_head' %>
<body>
<%= erb :'/partials/_navbar' %>
<h2 class="text-center">No students in squad. Please add student below. </h2>
 <form action='/squads/<%=@params[:squad_id]%>/students' method='post' >
  <div class="form-group">
    <label for="studentName">Name</label>
    <input type="text" class="form-control" name="name" id="studentName" placeholder="George" autofocus>
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="text" class="form-control"name="age"  id="age" placeholder="27">
  </div>
    <div class="form-group">
    <label for="mascot">Spirit Animal</label>
    <input type="text" class="form-control"name="spirit_animal" id="mascot" placeholder="Wolverine">
  </div>
  <button type="submit" class="btn btn-default">Add Student</button>
</form>
</body>
<%= erb :'/partials/_foot' %>
</html>