<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
 <form action='/squads/<%=@params[:squad_id]%>/students' method='post' >
  <div class="form-group">
    <label for="studentName">Name</label>
    <input type="text" class="form-control" name="name" id="studentName" placeholder="George" autofocus>
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="text" class="form-control"name="age"  id="age" placeholder="27">
  </div>
    <div class="form-group">
    <label for="mascot">Spirit Animal</label>
    <input type="text" class="form-control"name="spirit_animal" id="mascot" placeholder="Wolverine">
  </div>
  <button type="submit" class="btn btn-default">Add Student BLAAH</button>
</form>
</body>
</html>